---
layout: default
title: Projects
---

<section>
<h3>Projects</h3>
		
The 'for' and 'if' loop runs below here.
		
		<div class="ProjectThumb">
			{% for post in site.posts reversed %}
				{% if post.categories contains 'project' %}
							<a href="{{ post.url }}">
							<img src="{{ post.thumb }}" />
							<div class="ProjectTitle">{{ post.title }}</div><br/></a>
							<div class="Project">{{ post.blurb }}</div>
							The loops ran
				{% endif %}
			{% endfor %}
		</div>



<div class="WholeTeam">
	{% for post in site.posts reversed %}
		{% if post.categories contains 'team' %}
			{% if post.status contains 'current' %}
					<div class="TeamThumb"> 
					<a href="{{ post.url }}">
					<img src="{{ post.thumb }}" />
					<div class="TeamTitle">{{ post.title }}</div><br/>
					<div class="TeamSub">{{ post.subtitle }}</div></a>
					</div>
			{% endif %}
		{% endif %}
	{% endfor %}
</div>

</section>