---
layout: default
title: Bradley Lab | Lab Reports
---

<section>
<h3>Lab Reports</h3>
	{% for post in site.posts %}
		{% if post.category contains 'news' %}
			{% if post.published == true %}
				<div class = "NewsPost">
					<a name = "{{ post.anchor }}"></a>
					<h3>{{ post.title }}<h3>	
					<h4>{{ post.date | date: "%d %B, %Y" }}</h4>
					<h5>{{ post.date | date: "%H:%M" }}</h5>
					<p{{ post.title }}<p>	
					<div class = "PostContent">{{ post.content }}</div>
				</div> 
			{% endif %}			
		{% endif %}  		
	{% endfor %}
</section>
