---
layout: default
title: Bradley Lab People
category: team
---

<section>
<h3>Who we are</h3> 

<div class="WholeTeam">
	{% for post in site.posts reversed %}
		{% if post.category contains 'team' %}
			{% if post.status contains 'current' %}
					<div class="TeamThumb"> 
					<a href="{{ post.url }}">
					<img src="{{ post.thumb }}" />
					<div class="TeamTitle">{{ post.title }}</div><br/>
					<div class="TeamSub">{{ post.subtitle }}</div></a>
					</div>
			{% endif %}
		{% endif %}
	{% endfor %}
</div>

</section>

<section>
<h3>Lab Alumni</h3> 

<div class="WholeTeam">
	{% for post in site.posts reversed %}
		{% if post.category contains 'team' %}
			{% if post.status contains 'alumni' %}
					<div class="TeamThumb"> 
					<a href="{{ post.url }}">
					<img src="{{ post.thumb }}" />
					<div class="TeamTitle">{{ post.title }}</div><br/>
					<div class="TeamSub">{{ post.subtitle }}</div></a>
					</div>
			{% endif %}
		{% endif %}
	{% endfor %}
</div>

</section>