<div class="slideshow">
     
<div class="scrollable">  
	<div class="Slideitems"><!-- items, each in own div -->
		  <div><img src="/images/flatcone.jpg" /></div>
		  <div><img src="/images/autosampler.jpg" /></div>
		  <div><img src="/images/srpathway.jpg" /></div>
		  <div><img src="/images/horxcoring.jpg" /></div>
		  <div><img src="/images/labbench.jpg" /></div>
		  <div><img src="/images/gcmsdata.jpg" /></div>
		  <div><img src="/images/flasks.jpg" /></div>
	</div><!-- items -->
</div><!-- scrollable -->


<div class="navi"></div><!-- adds navigation buttons for slideshow -->



</div><!-- slideshow -->
