<div class="slideshow">
     
<div class="scrollable">  
	<div class="Slideitems"><!-- items, each in own div -->
		  <div><img src="/images/yellowstone.png" /></div>
		  <div><img src="/images/Methylo_hopanoids.png" /></div>
		  <div><img src="/images/IsotopeFrac.jpg" /></div>
		  <div><img src="/images/LCflange.png" /></div>
		  <div><img src="/images/SRpathway.png" /></div>
		  <div><img src="/images/tree.jpg" /></div>
	</div><!-- items -->
</div><!-- scrollable -->


<div class="navi"></div><!-- adds navigation buttons for slideshow -->



<div><div class="slideshow">
