---
layout: default
title: Bradley Lab | Resources
category: resource
---

<section>
<h3>Geochemical Lab</h3> 
<div class="ResourceList">
<ul>
	{% for post in site.posts reversed %}
		{% if post.category contains 'resource' %}
			{% if post.subcategory contains 'geo' %}
					<li>
					<div class="ResourceWrap">
					<img src="{{ post.thumb }}" width='110' height='85' />
					<h3>{{ post.title }}</h3> {{ post.content }}</div>
					</li>
			{% endif %}
		{% endif %}
	{% endfor %}
</ul>	
</div>
</section>


<section>
<h3>Microbiological  Lab<h3> 
<div class="ResourceList">
<ul>
	{% for post in site.posts reversed %}
		{% if post.category contains 'resource' %}
			{% if post.subcategory contains 'microbio' %}
					<li>
					<img src="{{ post.thumb }}" width='110' height='85' />
					<h3>{{ post.title }}</h3>
					<p> {{ content }}</p>
					</li>
			{% endif %}
		{% endif %}
	{% endfor %}
</ul>	
</div>
</section>

<section>
<h3>General</h3> 
<div class="ResourceList">
<ul>
	{% for post in site.posts reversed %}
		{% if post.category contains 'resource' %}
			{% if post.subcategory contains 'general' %}
					<li>
					<img src="{{ post.thumb }}" width='110' height='85' />
					<h3>{{ post.title }}</h3>
					<p> {{ content }}</p>
					</li>
			{% endif %}
		{% endif %}
	{% endfor %}
</ul>	
</div>
</section>