---
layout: default
title: Bradley Lab | Resources
category: resource
---

<section>
<h3>Geochemical r</h3> 
<div class="ResourceList">
<ul>
	{% for post in site.posts reversed %}
		{% if post.category contains 'resource' %}
			{% if post.subcategory contains 'geo' %}
					<li>
					<div class = "ResourceWrap">
						<div class = "ResourceImg"><img src="{{ post.thumb }}" height='85' width='110' /></div>
					<h3>{{ post.title }}</h3>
					<p> {{ post.content }}</p></a>
					</div>
					</li>
			{% endif %}
		{% endif %}
	{% endfor %}
</ul>	
</div>
</section>


<section>
<h3>Microbiological</h3> 
<div class="ResourceList">
<ul>
	{% for post in site.posts reversed %}
		{% if post.category contains 'resource' %}
			{% if post.subcategory contains 'micro' %}
					<li>
					<a href="{{ post.url }}">
					<img src="{{ post.thumb }}" height='05' width='110' />
					<h3>{{ post.title }}</h3>
					<p> {{ post.subtitle }}</p></a>
					</li>
			{% endif %}
		{% endif %}
	{% endfor %}
</ul>	
</div>
</section>

<section>
<h3>General</h3> 
<div class="ResourceList">
<ul>
	{% for post in site.posts reversed %}
		{% if post.category contains 'resource' %}
			{% if post.subcategory contains 'general' %}
					<li>
					<a href="{{ post.url }}">
					<img src="{{ post.thumb }}" height='05' width='110' />
					<h3>{{ post.title }}</h3>
					<p> {{ post.subtitle }}</p></a>
					</li>
			{% endif %}
		{% endif %}
	{% endfor %}
</ul>	
</div>
</section>