.CourseWrap {

}

.CourseName {
	font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	line-height: 100%;
	color: #006633;
	font-weight: 700;
	clear:right;
}

.CourseWrap {
  padding:3px;
  font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#777;
  font-weight:300;
}