/*---------------------*/

#banner {
	width: 840px;
	height: 60px;
	margin: 0 auto;
	padding: 5px;
	border-radius: 5px 5px 0px 0px;
	border: 1px solid #e5e5e5;
	background-color: #f8f8f8;
	display: block; /*
  mid-width:840px;
  /*position:fixed;*/
}

/*---------------------*/
#micronav {
	width:840px;
	overflow:hidden;
}

#micronav ul {
	list-style: none;
	clear:right;
	display: block;
	width: 840px;
	font: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-color:color:#777;
	font-size: 11px;
	padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 670px;
}

#micronav li {
  float:left;
  padding-left:5px;
  padding-right:15px;
  border-right:1px solid #d2d2d2;
  height:11px;
  line-height:11px;
}

#micronav li a:link{
	color:#006633;
}

#micronav li a:visited{
	color:#006633;
}

#micronav li a:hover{
	color:#011e14;
}

#micronav li a:active {
		color:#393939;
}

#micronav li:first-child {
	padding-left:0px;
}

#micronav li:last-child {
	border-right:none;
}
/*--------------------------*/

header {
	display: block;
	margin-top: -25px;
	margin-bottom: 5px;
}

header h1{
	display: inline;
	font-size:32px;
	font-weight:normal;
	color:#000;
	margin:0px;
}

#MainNav {
	clear:left;
	margin:0px;
	padding:0px;
	width:840px;
}

#MainNav ul {
  list-style:none;
  display: block;
  font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#777;
  padding-left:2px;
}

#MainNav li {
	display:inline;
	padding-right:15px;
}

#MainNav li a:link{
	color:#006633;
}

#MainNav li a:visited{
	color:#006633;
}

#MainNav li a:hover{
	color:#011e14;
}

#MainNav li a:active {
		color:#393939;
}






/*.micronav li a { color:#333; text-decoration:none; text-align:center; display:block; outline:none; }

#micronav li:first-child {
	border-left:none;
	padding-left: 3px;
	-moz-border-radius:4px 0 0 4px;
    -webkit-border-radius:4px 0 0 4px;
    border-radius:4px 0 0 4px;
}

#micronav li:first-child:after {
	border:none;
}

#micronav li:after {
	content: ' ';
	height: 0;
	position: absolute;
	width: 0;
	border: 8px solid transparent;
	border-left-color: #f7cdcd;
	margin-top: -17px;
	margin-left: -10px;
}

#micronav li:last-child {
	border-right:none;
	-moz-border-radius:0 4px 4px 0;
    -webkit-border-radius:0 4px 4px 0;
    border-radius:0 4px 4px 0;
	padding-right: 5px;
}

#micronav li img {
	height: 12px;
	margin-top: 2px;
	margin-bottom: -2px;
}
