/*----------------------------*/

.Publist {
  width: 800px ;
  margin-left: auto ;
  margin-right: auto ;
}

.Publist ul {
	list-style-type: none;
}
	
.Publist ul li {
	display:block;
	float: left;
	postition: relative;
	margin: 10px;
}


.Publist ul li a h4 { 
	font-size:14px; 
	color:#333; 
	font-weight:bold; 
	text-decoration:none; 
	margin-top:4px; 
	margin-bottom:0px; 
	display: inline;
}

.Publist ul li a h5 { 
	font-size:14px; 
	color:#777; 
	font-style: italic;
	font-weight: 400;
	text-decoration:none; 
	margin-top:4px; 
	margin-bottom:0px; 
	display: inline;
}
