/*----------------------------*/

.Publist {
  width: 830px ;
  margin-left: auto ;
  margin-right: auto ;
}

.Publist ul {
	list-style-type: none;
	margin: 0;
	padding: 0;	
}
	
.Publist ul li {
	display: block;
	color:#777; 
	font-size:14px;
	font-style: normal;
	font-weight: 400;
	float: left;
	margin-bottom: 20px;
	color:#444; 
}

.Publist ul li pubyear{ 
	font-weight: 500;
}

.Publist ul li journal{ 
	font-style: italic;
	font-weight: 500;
}

.Publist ul li publink{ 
	font-size: 10px;
	font-weight: 300;
}

.Publist ul li ul { 
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin: 0;
	padding: 0;
}

.Publist ul li ul li { 
	font-weight: 600;
	display: inline;
	margin: 0;
	padding: 0;
}

/*.Publist ul li ul li:before{ 
	content: " ";
}

.Publist ul li ul li:first-child:before{ 
	content: "";
}*/

.Publist ul li ul li:after{ 
	content: ",  ";
}

.Publist ul li ul li:last-child:after{ 
	content: "";
}


