/*----------------------------*/

.Publist {
  width: 800px ;
  margin-left: auto ;
  margin-right: auto ;
}

.Publist ul {
	list-style-type: none;
	margin: 0;
	padding: 0;	
}
	
.Publist ul li {
	display: block;
	color:#777; 
	font-size:14px;
	font-style: normal;
	font-weight: 400;
	float: left;
	margin-bottom: 20px;
	color:#444; 
}

.Publist ul li pubyear{ 
	font-weight: 400;
}

.Publist ul li journal{ 
	font-style: italic;
	font-weight: 500;
}

.Publist ul li ul { 
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin: 0;
	padding: 0;
}

.Publist ul li ul li { 
	color:#333;
	font-weight: 400;
	display: inline;
}

.Publist ul li ul li:after{ 
	content: ",";
}

.Publist ul li ul li:last-child:after{ 
	content: "";
}


