/*----------------------------*/

.ResourceList {
	padding: 0px;
	width: 98%;
    margin: 0px auto 0px auto;
}

.ResourceList ul {
	list-style-type: none;
}

.ResourceList ul li {
	display:block;
	float: left;
	margin: 0px auto 20px auto;
	-moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

.ResourceList ul li img { 
	-moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    float: left;
    margin: 15px 5px 5px 5px;
    z-index: 1;
}

.ResourceWrap {
	border: 1px solid #333;
}

.ResourceWrap h3 { 
	font-size:16px; 
	color:#006633; 
	font-weight:bold; 
	text-decoration:none; 
	margin-bottom:0px; 
}

.ResourceWrap p { 
	font-size:14px; 
	color:#777; 
	font-weight:400; 
	margin-bottom:0px;
}

.ResourceWrap {
	width: 675px;
	border: none;
	float: right;
}