/*----------------------------*/

.ResourceList {
  width: 840px ;
  margin-left: auto ;
  margin-right: auto ;
}

.ResourceList ul {
	list-style-type: none;
}

.ResourceWrap {
	width: 95%;
	height: 120px;
    margin: 0 auto;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #606060;
	background-color: rgba(248,248,248,0.8);
	overflow:scroll;
	z-index: 0;
}

.ResourceImg {
	height: 98%;
	z-index:1;
	margin-top: 15px;
	margin-left: 15px;
	-moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

.ResourceInfo {
	height: 98%;
	z-index:1;
}


/*	
.ResourceList ul li {
	display:block;
	float: left;
	postition: relative;
	width: 840px;
	margin: 0px auto 20px auto;
	border: 1px;
	-moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px
}

.ResourceList ul li img { 
	-moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    float: left;
    margin: 5px;
}

.ResourceList ul li a h3 { 
	font-size:16px; 
	color:#006633; 
	font-weight:bold; 
	text-decoration:none; 
	float:left;
	margin:0px; 
	display: block;
	clear; right;
}

.ResourceList ul li a p { 
	font-size:14px; 
	color:#777; 
	font-weight:400; 
	display: block;
	width: 600px;
}

*/
