/*----------------------------*/

.ResourceList {
  width: 840px ;
  margin-left: auto ;
  margin-right: auto ;
}

.ResourceList ul {
	list-style-type: none;
}
	
.ResourceList ul li {
	display:block;
	float: left;
	postition: relative;
	width: 840px;
	margin: 0px auto 20px auto;
	border: 1px;
	-moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px
}

.ResourceList ul li img { 
	-moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    float: left;
    margin: 5px;
}

.ResourceList ul li a h3 { 
	font-size:16px; 
	color:#006633; 
	font-weight:bold; 
	text-decoration:none; 
	float:left;
	margin:0px; 
	display: block;
	clear; right;
}

.ResourceList ul li a p { 
	font-size:14px; 
	color:#777; 
	font-weight:400; 
	display: block;
	width: 600px;
}


