@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

* {
	margin: 0;
}

body, html, main {
	height: 100%;
}

body {
  padding:3px;
  font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#777;
  font-weight:300;
}

.wrapper {
	width: 860px;
	margin: 0 auto -6px; /* the bottom margin is the negative value of the footer's height */
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

.slidepush {
	width: 852px;
	margin: 0 auto;
	height: 15px; 
}

.footdiv, .push {
	width: 852;
	margin: 0 auto;
	height: 6px; /* .push must be the same height as .footer */
}

/*
main {
	display:block;
	padding-top: 15px;
	padding-left: 5px;
}
*/


.MainDiv {
	width: 852px;
}

.FrontWrap {
  width: 852px ;
  margin-left: auto ;
  margin-right: auto ;
}
	
.FrontWrap div {
	display:block;
	postition: relative;
	height: 350px;
	border: none;
	background-color: #eeeeee;
	-moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    padding: 5px;
}

#FrontLeft {
	width: 400px;
	float: left;
}

#FrontRight {
	width: 400px;
	float: right;
	margin-right: 10px;
}

#FrontRight ul {
	list-style-type: none;
}


.FrontWrap h3 { 
	font-size:16px; 
	color:#006633; 
	font-weight:500; 
	text-decoration:none; 
	margin-top:4px; 
	margin-bottom:10px; 
}

.FrontWrap div p { 
	font-size:14px; 
	color:#555; 
	font-weight:400; 
	margin-top:0px;
}

.404Page{
	position:relative;
	z-index: 0;
	width: 98%;
    margin: 0 auto;
}

.404Wrap{
	width: 300px;
	height: 50px;
	margin: 150px;
	padding: 5px;
	display: block;
	position:absolute;
	z-index: 1;
	overflow:scroll;
}

.404text{
	font-size: 18px;
	color: #000000;
	font-weight: 400;
}

/*---------------------*/

h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin:0 0 20px;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:28px;
}

h2 {
  color:#393939;
}

h3, h4, h5, h6 {
  color:#494949;
}

a {
  color:#006633;
  font-weight:400;
  text-decoration:none;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.6em;
  display:block;
}


blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color:#333;
  font-size:12px;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;  
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

/*table {
  width:100%;
  border-collapse:collapse;
}*/

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
}

dt {
  color:#444;
  font-weight:700;
}

th {
  color:#444;
}

img {
  max-width:100%;
}

section {
  width:860px;
  float:left;
  padding-bottom:50px;
  padding-top: 25px;
}

small {
  font-size:11px;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

footer {
  width:860px;
  float:left;
  /*position:fixed;*/
  bottom:50px;
}

@media print, screen and (max-width: 960px) {
  
  div.wrapper {
    width:auto;
    margin:0;
  }
  
  header, section, footer {
    float:none;
    position:static;
    width:auto;
	
  }
  
  header {
    padding-right:320px;
	z-index:+1;
  }
  
  
  section {
    border:1px solid #e5e5e5;
    border-width:1px 0;
    padding:20px 0;
    margin:0 0 20px;
	z-index:0;
  }
  
  header a small {
    display:inline;
  }
  
  header ul {
    position:absolute;
    right:50px;
    top:52px;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }
  
  header {
    padding:0;
  }
  
  header ul, header p.view {
    position:static;
  }
  
  pre, code {
    word-wrap:normal;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding:15px;
  }
  
  header ul {
    display:none;
  }
}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}
