/*----------------------------*/

.TeamThumb {
	width:280;
	float:left;
}

.TeamThumb img {
	display: block;
    margin-left: auto;
    margin-right: auto
}

.TeamTitle {
	color: #006633;
	font-size: 14px;
	line-height: 100%;
	float:left;
	display: inline;
}

.TeamSub {
	color: #777;
	font-size: 9px;
	line-height: 100%;
	float:left;
	display: inline;
	font-weight: normal;
}