<!doctype html>
<html lang="en">

<head>
<!-- MOBIFY -->
<script type="text/javascript">/*<![CDATA[*/(function(a){function b(a,b){if(+a)return~a||(d.cookie=h+"=; path=/");j=d.createElement(e),k=d.getElementsByTagName(e)[0],j.src=a,b&&(j.onload=j.onerror=b),k.parentNode.insertBefore(j,k)}function c(){n.api||b(l.shift()||-1,c)}if(this.Mobify)return;var d=document,e="script",f="mobify",g="."+f+".com/",h=f+"-path",i=g+"un"+f+".js",j,k,l=[!1,1],m,n=this.Mobify={points:[+(new Date)],tagVersion:[6,1],ajs:"//a.mobify.com/bradley-lab-mobile/a.js"},o=/((; )|#|&|^)mobify-path=([^&;]*)/g.exec(location.hash+"; "+d.cookie);o?(m=o[3])&&!+(m=o[2]&&sessionStorage[h]||m)&&(l=[!0,"//preview"+g+escape(m)]):(l=a()||l,l[0]&&l.push("//cdn"+i,"//files01"+i)),l.shift()?(d.write('<plaintext style="display:none;">'),setTimeout(c)):b(l[0])})(function(){if(/ip(hone|od)|android.*(mobile)|blackberry.*applewebkit|bb1\d.*mobile/i.test(navigator.userAgent)){return[1,"//cdn.mobify.com/sites/bradley-lab-mobile/production/mobify.js"]}return[0,Mobify.ajs]})/*]]>*/</script>
<!-- END MOBIFY -->

<!--CSS links -->
	<link rel="stylesheet" href="/stylesheets/styles.css">
	<link rel="stylesheet" href="/stylesheets/navstyles.css">
	<link rel="stylesheet" href="/stylesheets/pygment_trac.css">
	<link rel="stylesheet" href="/stylesheets/slides.css">
	<link rel="stylesheet" href="/stylesheets/infostyles.css">
	<link rel="stylesheet" href="/stylesheets/teamstyles.css">
	<link rel="stylesheet" href="/stylesheets/researchstyles.css">
	<link rel="stylesheet" href="/stylesheets/resourcestyles.css">
	<link rel="stylesheet" href="/stylesheets/newsstyles.css">
	<link rel="stylesheet" href="/stylesheets/coursestyles.css">
	<link rel="stylesheet" href="/stylesheets/pubstyles.css">
	<link rel="stylesheet" href="/stylesheets/downloadstyles.css">
<!-- end CSS links -->    
 
<!-- metas -->     
	<meta name="google-site-verification" content="HUdP0ZDFEnXDoYlApJFG_27jp2zjotqbS4NI9N0Im4A" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<!-- end metas -->   

<!-- jquery tools -->
<script src="/scripts/jquery.tools.min.js"></script>
<!-- end jquery tools -->

<!-- Google Analytics Script -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-11137637-1");
pageTracker._trackPageview();
} catch(err) {}</script>
<!-- end Google Analytics Script -->

<link rel="icon" type="image/png" href="/images/favicon.png" />
<title>{{ page.title }}</title>
</head>

<body>
    
<div class="wrapper">   

<div id ="banner">  
    
    <div id="micronav">
    	<nav>
         <ul>
         <li><a href ="http://www.wustl.edu">WUSTL</a></li>
         <li><a href ="http://eps.wustl.edu">EPS</a></li>
         <li><a href ="http://bradleylab.wustl.edu">Bradley Lab</a></li>
         </ul>
    	</nav>
    </div>   <!-- end micronav -->  
     
    <header>
	<h1>Bradley Laboratory</h1> Washington University in St. Louis 
    </header>
     
    <div id="MainNav">
     <nav>
        <ul>
        <li><a href ="/">Lab</a></li>
        <li><a href ="/info/">Info</a></li>
        <li><a href ="/team/">People</a></li>
        <li><a href ="/research/">Research</a></li>
        <li><a href ="/resources/">Resources</a></li>
        <li><a href ="/news/">News</a></li>
        <li><a href ="/courses/">Courses</a></li>
        <li><a href ="/publications/">Publications</a></li>
        <li><a href ="/downloads/">Downloads</a></li>
        </ul>
 	</nav>   
    </div> <!--MainNav-->
    
</div><!--banner-->

 <div id = "MainDiv">
 <main>      

	{{ content }}

</main> <!-- main -->
</div>  <!-- MainDiv -->


<div class="push"></div><!-- footer push -->
</div> <!-- wrapper -->

<div class="footdiv">
<footer>
<p><small>Bradley Laboratory | Washington University in St. Louis || Site generated with <a href="http://jekyllrb.com">Jekyll</a> </p>
</footer>
</div>




<script src="javascripts/scale.fix.js"></script>

<script>
$(function() {	
	$(".scrollable").scrollable({circular: true, mousewheel: false, keyboard:false, speed:500}).navigator().autoscroll({interval: 12000, autopause:true}); //slideshow scrollable
});
</script>

</body>
</html>