---
layout: default
---

<div class = "PersonPage">
	<div class="PersonWrap">
		
		<div class="PersonName">
		 	{{ page.title }}
		</div>
		
		<div class="PersonTitle">
		   	{% if page.subtitle %}{{ page.subtitle }}{% endif %}
		</div>
		
		<div class="PersonEmail">
		   	{% if page.email %}<a href="mailto:{{ page.email }}">{{ page.email }}</a>{% endif %}
		</div>

		<div class ="PersonBio">
			{{ content }}
		</div>

	</div> <!-- PersonWrap -->
	
	<img src="{{ page.image }}" />

</div>  <!-- PersonPage -->