---
layout: default
title: Publications
---


<section>
<h3>Publications</h3>
		
<div class="Publist">
	<ul>
		{% for post in site.posts %}
			{% if post.category contains 'journalpub' %}
				<li><ul>{% for author in post.author %}	
					<li>{{ author }}</li> &nbsp;{% endfor %}</ul>
					&nbsp;
					<pubyear>{{ post.year }}</pubyear><br/>
					{{ post.pubtitle }} <journal>{{ post.journal }}</journal> {{ post.volume }} {{ post.pages }}
					{% if post.publink }<publink><a href="{{ post.publink}}"><publink>(LinkOut)</a></publink>{% endif %}
					</li>
			{% endif %}
		{% endfor %}
	</ul>	
</div>


</section>