---
layout: default
title: Publications
---


<section>
<h3>Publications</h3>
		
<div class="PubList">
	{% for post in site.posts %}
		{% if post.category contains 'journalpub' %}
					<div class="TeamThumb"> 
						<h4>
						{% for author in post.author %}	
						<li>{{ author[0] }}</li>,
						{% endfor %}
						</h4>
						<h5>{{ post.pubyear }} {{ post.pubtitle }} <span class="text-style: italic;"> {{ post.journal }}</span> {{ post.volume }} {{ post.pages }} </h5>
					</div>
		{% endif %}
	{% endfor %}
</div>


</section>