---
layout: default
title: Bradley Lab Publications
---

<!-- This should be some kind of format so that each publication can be entered as a separate file somewhere for easy updating. Get it paginated, etc. just like a blog/news page. -->

<section>
        <h3>Publications</h3>

<div class="CourseWrap">
	{% for post in site.posts %}
		{% if post.categories contains 'publication' %}
			<div class="CourseName">{{ post.title }}</div>
			<p>
			<div class="CourseDesc">{{ post.content }}</div><br/>
		{% endif %}
	{% endfor %}
</div>




</section>